<div class="col-md-4">
    <a href="/{{slug}}">
        <div class="feature feature-1">
            <img alt="Image" src="/img/areasmall.jpg" />
            <div class="feature__body boxed boxed--border">
                <h4>{{name}}</h4>
                <h5>{{city}},&nbsp;{{state}}</h5>
            </div>
        </div>
    </a>
</div>
