<div class="col-md-4">
    <a href="/{{slug}}">
        <div class="feature feature-1">
            <img alt="Image" src="https://lh3.googleusercontent.com/yFxUwKQLTh5A4ydhvX5R1r-BsrNoJ-uJnGtsvKJk4ntLBKq3OvsKULS5be_qk9N-qZqiYBiZV-3C1uBA4vnYc3v8pQ" />
            <div class="feature__body boxed boxed--border">
                <h4>{{name}}</h4>
                <h5>{{city}},&nbsp;{{state}}</h5>
            </div>
        </div>
    </a>
</div>
