<nav class="bar bar--sm bg--dark" id="menu4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 hidden-xs hidden-sm" >
                            <div class="bar__module" >
                                <a href="/" >
                                    <img src="/img/logo.png"/>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-1">
                            <div class="bar__module">
                            </div>
                        </div>
                        <!--end columns-->
                        <div class="col-lg-4">
                            <div class="bar__module">
                                <ul class="menu-horizontal">
                                </ul>
                            </div>
                        </div>
                        <!--end columns-->
                        <div class="col-lg-3 text-right text-left-xs">
                            <div class="bar__module">
                                <a class="btn btn--sm type--uppercase" href="/users/signin">
                                    <span class="btn__text">
                                        Log In
                                    </span>
                                </a>
                                <a class="btn btn--primary btn--sm type--uppercase" href="/users/signup">
                                    <span class="btn__text">
                                        Register
                                    </span>
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <!--end columns-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>